<!doctype html>
<html lang="en-US" class="h-100">

<head>
  {{ partial "meta" . }}
  {{ partialCached "analytics" . }}

  {{- if not .IsHome }}
  {{ $anatomy := resources.Get "js/anatomy.js" }}
  {{ $scroll2anchor := resources.Get "js/scroll-to-anchor.js" }}
  {{ $js := slice $anatomy $scroll2anchor | resources.Concat "js/app.js" | resources.Minify }}
  <script src="{{ $js.RelPermalink }}" async fetchpriority="low"></script>
  {{- end -}}

  <script src="/js/bootstrap.bundle.min.js"></script>
</head>

{{ if and (gt .WordCount 99 ) (not .Params.hideToc) }}

<body class="h-100" data-url="{{ .RelPermalink }}" {{ if not .Params.disableScrollSpy }}data-spy="scroll"
  data-target="#TableOfContents" data-offset="126" {{ end }} {{ if .Params.LoadListJS }} id="listjs-body" {{- end -}}>
  {{ else }}

  <body class="h-100" data-url="{{ .RelPermalink }}" {{ if .Params.LoadListJS }} id="listjs-body" {{- end -}}>
    {{- end -}}

    {{ if not .Params.hideNav }}
    <div class="container-fluid bg-white">
      {{ partialCached "navbar" . }}
    </div>
    {{- end -}}

    {{ block "body" . }} {{ block "main" . }} {{- end -}}
    {{- end -}}

    {{ if not .Params.hideNav }}
    {{ block "footer" . }} {{ partialCached "footer" . }} {{- end -}}
    {{- end -}}
    {{ $scrollToTop := resources.Get "js/scroll-to-top.js" }}
    {{ $js := slice $scrollToTop | resources.Concat "js/scroll-to-top.js" | resources.Minify }}
    <script src="{{ $js.RelPermalink }}" defer></script>
    <button type="button" aria-label="scroll to top"
      class="btn-to-top border-0 rounded position-fixed d-print-none d-none">
      {{ partial "icons/modus-outlined/arrow-up.svg" (dict "class" "mt-n1 opacity-50" "width" "24" "height" "24") }}
    </button>

    <script>
      // Initialize all Bootstrap tooltips on a page
      const tooltipTriggerList = document.querySelectorAll('[data-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

    <script>
      // Hide Bootstrap tooltips when user presses Escape
      document.addEventListener('keyup', function (event) {
        if (event.which === 27) {
          const tooltipTriggerList = document.querySelectorAll('[data-toggle="tooltip"]');
          tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            $(tooltipTriggerEl).tooltip('hide');
          });
        }
      });
    </script>

  </body>

</html>