<!doctype html>
<html lang="en-US" class="h-100">

<head>
  {{ partial "meta" . }}
  {{ partialCached "analytics" . }}

  {{- if not .IsHome }}
  {{ $anatomy := resources.Get "js/anatomy.js" }}
  {{ $scroll2anchor := resources.Get "js/scroll-to-anchor.js" }}
  {{ $js := slice $anatomy $scroll2anchor | resources.Concat "js/app.js" | resources.Minify }}
  <script src="{{ $js.RelPermalink }}" async fetchpriority="low"></script>
  {{- end -}}

  <script src="/js/bootstrap.bundle.min.js" fetchpriority="low"></script>
</head>

{{ if and (gt .WordCount 99 ) (not .Params.hideToc) }}

<body class="h-100" data-url="{{ .RelPermalink }}" {{ if not .Params.disableScrollSpy }}data-spy="scroll"
  data-target="#TableOfContents" data-offset="126" {{ end }}
  {{ if .Params.LoadListJS }} id="listjs-body" {{- end -}}>
  {{ else }}

  <body class="h-100" data-url="{{ .RelPermalink }}" {{ if .Params.LoadListJS }} id="listjs-body" {{- end -}}>
    {{- end -}}

    {{ if not .Params.hideNav }}
    <div class="container-fluid bg-white">
      {{ partialCached "navbar" . }}
    </div>
    {{- end -}}

    {{ block "body" . }} {{ block "main" . }} {{- end -}}
    {{- end -}}

    {{ if not .Params.hideNav }}
    {{ block "footer" . }} {{ partialCached "footer" . }} {{- end -}}
    {{- end -}}

  </body>

</html>
