// Utility Classes

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.bg-light {
  background: #f3f3f7 !important;
}

.bg-purple {
  background-color: #7952b3 !important;
}

.filter-desaturate {
  filter: saturate(0%);
}
