<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- OneTrust Cookies Consent Notice start for modus-bootstrap.trimble.com
<script>function __cookieBannerFallback(script) {var elem = document.getElementById("optanon-show-settings").classList.add("d-none");}</script>
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-language="en" charset="UTF-8"
  data-domain-script="9fc46bbd-0433-49fc-8f0c-a06ad3a88652" onerror="__cookieBannerFallback(this)"></script>
<script>
  function OptanonWrapper() { }
</script> -->
<!-- OneTrust Cookies Consent Notice end for modus-bootstrap.trimble.com -->
{{- if not .Site.IsServer -}}
<script src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}" async
  fetchpriority="low"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('consent', 'default', {
    'ad_storage': 'denied',
    'analytics_storage': 'denied'
  });
  gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
<script id="plausible" defer data-domain="modus-bootstrap.trimble.com" src=/js/script.compat.outbound-links.js></script>
{{- end -}}
