{{- if not .Site.IsServer -}}
<script src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}" async
  fetchpriority="low"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('consent', 'default', {
    'ad_storage': 'denied',
    'analytics_storage': 'denied'
  });
  gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
<script defer data-domain="modus-bootstrap.trimble.com" src="https://plausible.io/js/script.outbound-links.js"
  fetchpriority="low"></script>
{{- end -}}
