<footer class="p-2 footer py-4">
  <div class="container">

    <div class="row pt-2">
      <div class="col-12 mb-4 mt-2">
        {{ partial "logos/trimble.svg" (dict "class" "img-fluid" "width" "107" "height" "25") }}
      </div>
    </div>

    <div class="row py-2">
      <div class="col-11 col-md-5 col-lg-4">
        <p>Trimble is transforming the way the world works by delivering products and services that connect the physical
          and digital worlds.</p>
      </div>
      <div class="col-12 col-sm-1 col-lg-4">

      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <p class="h5" hidden>About Modus</p>
        <ul class="list-unstyled">
          <li class="my-3 my-sm-2"><a href="/getting-started/" class="py-2">Getting Started</a></li>
          <li class="my-3 my-sm-2"><a href="/changelog/" class="py-2">Changelog</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <p class="h5" hidden>Help</p>
        <ul class="list-unstyled">
          <li class="my-3 my-sm-2"><a href="https://mail.google.com/chat/u/0/#chat/space/AAAAexugR1k" target="_blank" rel="noopener" class="py-2">Google Chat Space</a></li>
          <li class="my-3 my-sm-2"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc5-PBOzJjT2Q8r5Pg7BPYzae-rz5fg5ySSBcHwfhBneUkvWg/viewform" class="py-2"
              onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=660,toolbar=1,resizable=0'); return false;">Subscribe</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-12 border-top border-light opacity-50">
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-12 col-sm-6 small">
        Copyright &copy; {{ now.Format "2006" }}, Trimble Inc.
      </div>
      <div class="col-12 col-sm-6 text-sm-right small">
        <a href="https://www.trimble.com/en/our-commitment/responsible-business/data-privacy-and-security/data-privacy-center"
          target="_blank" rel="noopener">Privacy Center</a> -
        <a href="https://www.trimble.com/en/legal/terms-and-conditions/terms-of-use" target="_blank" rel="noopener">Terms of Use</a> -
         Modus Version: {{ .Site.Params.modusBootstrapVersion }}
      </div>
    </div>
  </div>
</footer>
