<div class="sticky-top sticky-offset">
  <div class="h5 pt-2 ml-3">
    On this page
  </div>
  {{ .TableOfContents }}
{{ if .Params.changelog }}
<a href="/modus-bootstrap.xml" class="btn btn-primary btn-sm ml-3">
  {{ partial "icons/fa/solid/rss-square.svg" (dict "class" "mt-n1 ml-n1" "width" "14" "height" "14") }}
  Subscribe RSS
</a>
{{- end -}}
<script>
  $(function () {
    jQuery('#TableOfContents ul').addClass('list-unstyled pl-0 ml-0');
    jQuery('#TableOfContents a').addClass('nav-link');
  });
</script>
{{- if .Params.styleguideURL -}}
<h5 class="pt-2 ml-3">
More Information
</h5>
<ul class="list-unstyled pl-0 ml-0">
<li><a href="https://modus.trimble.com/{{- .Params.styleguideURL -}}" class="nav-link filter-desaturate" target="_blank" rel="noopener">Modus Style Guide</a></li>
</ul>
{{- end -}}
</div>
