<div class="fixed-top">
  {{ partial "skippy" . }}
  <nav class="navbar navbar-blue navbar-main text-white">
    <div class="container flew-row justify-content px-0 pl-sm-1">
      <a class="navbar-brand ml-0 font-weight-bold px-sm-1" href="/">
        {{ partial "logos/trimble.svg" (dict "class" "img-fluid" "width" "115" "height" "26") }}
        <div>Modus Bootstrap</div>
      </a>
      <div class="d-flex flew-row ml-auto ml-sm-0">
        <ul class="navbar-nav d-none d-lg-inline-flex flex-lg-row">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="nav-item mx-lg-1 mx-xl-2 mt-1">
            <a class="nav-link mx-lg-2 mt-2 {{if ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">
              {{- .Name -}}
            </a>
          </li>
          {{- end -}}
          </ul>
        {{ partial "search" . }}
        {{ partial "theme-toggle" . }}
        <div class="dropdown mt-1">
          <button class="btn btn-icon-only btn-lg d-lg-none ml-auto mt-1 px-1" type="button" data-toggle="dropdown"
            data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            {{ partial "icons/modus-outlined/more-vertical.svg" (dict "class" "text-white" "width" "28" "height" "28") }}
          </button>
          <div class="dropdown-menu d-lg-none" style="left:-112px">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="dropdown-item {{if ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">
              {{- .Name -}}
            </a>
            {{- end -}}
          </div>
        </div>
      </div>
     </div>
    </nav>
  </div>
</div>
