<nav class="navbar navbar-expand fixed-top px-0 px-sm-1 px-md-2 px-lg-3" aria-label="main navigation">
  <div class="container flex-column flex-md-row justify-content-end">
    <a class="navbar-brand mr-left mr-lg-auto font-weight-bold" href="/">
      <img src="/img/trimble-logo.svg" width="115" height="26" class="img-fluid" alt="home">
      <div>Modus Bootstrap</div>
    </a>
    {{ partial "skippy" . }}
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item mx-0 mx-lg-1 mx-xl-2">
          <a class="nav-link{{if ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">
            {{- .Name -}}
          </a>
        </li>
        {{- end -}}
      </ul>
    </div>
    {{ partial "search" . }}
  </div>
</nav>
